body{
    background-size:cover;
}
.heading
{
    font-size:18px;
    width:100%;
    margin:0;
}
.object_name_input_box
{
    width:250px;
    text-align:center;
}
.note
{
    color:black;
    font-size:7px;
}
#start, #number_of_objects, #status
{
    font-size:18px;
}
canvas
{
  border: 2px solid rgb(255, 0, 0);
  border-radius:10px;
  margin-top:120px;
  box-shadow:10px 10px rgb(55, 0, 255);
}
#start
{
    width:70px;
    border-radius:25px;
}